*{
    font-family: 'Poppins', sans-serif;
}

.cbStatCard{
    margin-top: 2vh;
}

/* Deze classes namen meegeven ipv alle h1,h2 en h3 overschrijven (overschrijft namelijk alle textstyles op alle pagina's) */

h1{ /*cb number */
    font-weight: 600;
    font-size: 28;
    color: #838383;
}

h2{ /* distance */
    font-weight: 400;
    font-size: 28;
    /* color: #838383; */
}

h3{ /* Status */
    /* color: #3F51B8; */
    font-weight: 600;
}

.sw_container{
    border: 3px solid #838383;
    border-radius: 15px;
    padding-left: 13px;
    padding-top: 2px;
    text-align: right;
    width: 70px;
    height: 50px;
}

/*
.sw_icon{
    color: white;
    font-size: 64px;
    margin-left: -60px;
    background-color: #3F51B8;
    border-radius: 5px;
    padding: 5px;
}*/