
/* css for the component 'InformationScreen' It should be refactored later on in the project, because of the chaos mode here. */

/* any questions about this stylesheet can be asked to Isa Winkenius */

.information-container {
    padding: 5% 5%;
}

.information-image {
    max-width:260px;
    width: 50%;
    margin-top: 70px;
    margin-bottom: 20px;
    top: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-information-screen, 
.btn-information-screen-secundair {
    border: none;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 60px;
    max-width: 400px;
    display: block;
    margin: auto;
    text-align: center; 
}

.btn-information-screen {
    background-color: #796FF6;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding-top: 15px;
}

.btn-information-screen-secundair {
    color: #212529;
    font-weight: 600;
    font-size: 14px;
    padding-top: 30px;
}

.btn-information-screen:hover {
    background-color: #635adf;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-information-screen-secundair:hover {
    cursor: pointer;
    text-decoration: none;
    color: #88C053;
}

.information-title {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 34px;
    color: #88C053;

}

.information-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 30px;
}

.information-screen-button-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0px;
}