*{
    font-family: 'Poppins', sans-serif;
}

.OndCbWijzigen{
    padding-top: 15vh;
}

h1.Dashgreeting{
    color: white;
    font-weight: 600;
    font-size: 32x;
}

h2.Dashgreeting{
    font-weight: 200;
    font-size: 20px;
    color: white;
}

/* CARD */
.card, .datefield{
    margin: auto;
    position:relative;
    z-index:1;
    border-radius: 20px;
    background-color: white;
}

.card{
    width: 90%;
    padding: 15px;
    margin-top: 8vh;
}

.datefield{
    padding: 5px;
    text-align: center;
}
.card-partition{
    padding: 20px;
}

h1.card-partition{
    color: #838383;
    font-weight: 600;
    font-size: 16px;
}

.datefield{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}