.Card_title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #838383;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #838383;
    margin-bottom: 3px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #88C053;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #838383;
    margin-bottom: 3px;
}


.Cargobike_res_details {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.Cargobike_type_det {
    margin-top: 0.5rem;
}

.Card_First_Delivery {
    padding: 20px;
    /* margin-top:300px; */
    position:relative;
    z-index:1;
    border-radius: 20px;
    height: 270px;
    background-color: white;
}

.Card_bezorgingen {
    padding: 20px;
    position:relative;
    z-index:1;
    border-radius: 20px;
    height: 200px;
    background-color: white;
    margin-top: 20px;
}


.Bezorging_title {
    font-size: 32px;
}

.Title_dash {
    margin-top: 50px;
    margin-bottom: 20px;
}


.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.010),
    0 6.7px 5.3px rgba(0, 0, 0, 0.010),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.010),
    0 41.8px 33.4px rgba(0, 0, 0, 0.010),
    0 100px 80px rgba(0, 0, 0, 0.020)
  ;
}