.logoRegistration{
    /* margin-top:200px; */
    z-index:2;
    color:white;
    font-weight: bolder;
}

.RowLogo{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.regInput{
    margin-top:20px;
}

.makeAccount{
    margin-top:15px;
    margin-bottom:15px;
}

.regBlock{
    padding-bottom:15px;
}

.lottieContainer{
    width:10vw;
    width:350px;
    /* margin-left:240px;
    margin-right:auto;
    display:flex;
    align-items:center; */
}
.container{
    margin-right:auto;
    /* margin-left:10vw; */
    /* display:flex; */
    align-items:center; 
}

.container1{
    margin-right:auto;
    margin-left:auto;
    width:350px;
    display:flex;
    align-items:center; 
}