.logoRegistration{
    /* margin-top:200px; */
    z-index:2;
    color:white;
    font-weight: bolder;
}

.RowLogo{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.regInput{
    margin-top:20px;
}

.makeAccount{
    margin-top:15px;
    margin-bottom:15px;
}

.regBlock{
    padding-bottom:15px;
}